<section class="entry-detail">
    <h2><%= estate.get("title") %></h2>
    <img src="data/<%= estate.get("image") %>">
    <p><%= estate.get("price") %> € <br><%= estate.get("size") %> sqm<br><%= estate.get("rooms") %> rooms</p>
</section>