<section class="entry-list">
    <ul class="list">
<% _.each(estates, function(estate){ %>
        <li>
            <a href="#show/<%= estate.get("nid") %>">
                <figure>
                    <img src="data/<%= estate.get("image") %>" width="75" height="50">
                </figure>
                <h3><%= estate.get("title") %></h3>
                <div class="entry">
                    <%= estate.get("neighbourhood") %>
                    <%= estate.get("price") %> € <br>
                    <%= estate.get("size") %> sqm<br>
                    <%= estate.get("rooms") %> rooms
                </div>
            </a>
            <div class="actions">
                <button class="circle love">✔</button>
                <button class="circle hate">✖</button>
            </div>
        </li>
<% }); %>
    </ul>
</section>