<section class="list-entries">
<% _.each(estateCollection, function(estate){ %>
    <table>
        <tr>
            <td rowspan="2" class="table-whishlist wishlist">
                star
            </td>
            <td colspan="2" rowspan="2" class="table-thumbnail">
                <img src="data/<%= estate.get("image") %>">
            </td>
            <td colspan="5" class="table-title"><h3><%= estate.get("title") %></h3></td>
            <td colspan="2" rowspan="2" class="table-price"><%= estate.get("price") %> € <br><%= estate.get("size") %> sqm<br><%= estate.get("rooms") %> rooms</td>
        </tr>
        <tr>
            <td colspan="5"><%= estate.get("neighbourhood") %></td>
        </tr>
    </table>
<% }); %>
</section>