<section class="entry-list">
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Title</th>
                <th>Neighbourhood</th>
                <th>Details</th>
            </tr>
        </thead>
<% _.each(estates, function(estate){ %>
        <tr class="entry-list__item">
            <td class="entry-list__whishlist">
                <button id="js-save" class="button--save">Save</button>
                <button class="circle love">✔</button>
                <button class="circle hate">✖</button>
            </td>
            <td class="entry-list__thumbnail">
                <img src="data/<%= estate.get("image") %>" width="75" height="50">
            </td>
            <td class="entry-list__title">
                <h3><a href="#show/<%= estate.get("nid") %>"><%= estate.get("title") %></a></h3>
            </td>
            <td class="entry-list__neighbourhood"><%= estate.get("neighbourhood") %></td>
            <td class="entry-list__details">
                <%= estate.get("price") %> € <br>
                <%= estate.get("size") %> sqm<br>
                <%= estate.get("rooms") %> rooms
            </td>
        </tr>
<% }); %>
    </table>
</section>